@import '../../scss/mixins';

.payment-form-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--secondary-font-color);
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--box-shadow-container);

  @include smartphone-vertical {
    width: 100%;
  }
}

.payment-form {
  height: 100px;
  width: 450px;

  @include smartphone-vertical {
    width: 300px;
  }

  button {
    margin-left: auto;
    margin-top: 30px;
  }

  h2 {
    position: relative;
    top: -40%;
  }
}
