@import '../../scss/mixins';

.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  color: var(--secondary-font-color);

  h2 {
    margin: 10px 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;

    @include smartphone-vertical {
      gap: 20px;
    }
  }

  @include smartphone-vertical {
    width: 70vw;
  }
}
